@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }

  /* Hide navigation, sidebars, buttons, modal overlays during print */
  header, aside, nav, button, .print\:hidden {
    display: none !important;
  }

  /* Show only printable sheet */
  #printable-student-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }
}
